/*
This is a Stylesheet for the Layout of the buttons and text boxes for logging in.  I copied the color codes from the ATB site.
I believe ATB uses a JPG / GIF image for their buttons.  That will be a lot of work, so I went with the best I could find.
Their buttons are a rounded rectangle; ours are not.
*/

.button {
    background-color: #0072F0; /* This the the lighter Blue used throughout the ATB site (and branding) */
    border: none;
    color: #FFFFFF;
    width: 250 px;
    height: 150 px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14pt;
}

.button:hover {
    background-color: #0053DB; /* This is the darker blue at the top bannner on the ATB site */
}

.input:focus {
    border: 3 px;
    border: #0072F0;
}

td {
    padding: 5%;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}